# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv
__pycache__
# Serverless directories
.serverless

bin
botocore-1.31.18.dist-info
s3transfer
python_dateutil-2.8.2.dist-info
bin
six-1.16.0.dist-info
idna
s3transfer-0.6.1.dist-info
__pycache__
idna-3.4.dist-info
charset_normalizer
botocore
requests
jmespath-1.0.1.dist-info
requests-2.31.0.dist-info
.serverless
charset_normalizer-3.2.0.dist-info
certifi
trp
jmespath
urllib3
boto3-1.28.18.dist-info
certifi-2023.7.22.dist-info
.git
urllib3-1.26.16.dist-info
textract_trp-0.1.3.dist-info
dateutil
boto3-1.28.31.dist-info
botocore-1.31.31.dist-
s3transfer-0.6.2.dist-info
six.py